<footer class="container-fluid bg-grey py-5">
  <div class="container">
      <div class="row">
          <div class="col-md-6">
              <div class="row">
                  <div class="col-md-6 px-4">
                      <div class="logo-part">
                          <img src="https://i.imgur.com/8vdk0DH.png" class="w-50 logo-footer">
                          <p class="display-4" style="font-size: 1.2rem; font-family: 'Montserrat', sans-serif; font-weight:bolder;">Helping
                              Hands</p>
                          <p style="font-family: 'Montserrat', sans-serif; font-weight:bolder;">A modular
                              platform for creating platforms.</p>
                      </div>
                  </div>
                  <div class="col-md-6 pb-4 px-4">
                      <h6 style="font-family: 'Montserrat', sans-serif; font-weight:bolder;"> Social Links</h6>
                      <div class="social">
                          <a href="#" style="color: grey; font-size: 24px;background: #3c3c3c00;"><i class="fab fa-facebook-f"></i></a>
                          <a href="#" style="color: grey; font-size: 24px; background: #3c3c3c00;" class="pl-3"><i class="fab fa-twitter"></i></a>
                      </div>
                  </div>

              </div>
          </div>
          <div class="col-md-6">
              <div class="row">
                  <div class="col-md-6 px-4">
                      <h6 style="font-family: 'Montserrat', sans-serif; font-weight:bolder;"> Quick Links</h6>
                      <div class="row ">
                          <div class="col-md-6">
                              <ul>
                                  <li style="font-family: 'Montserrat', sans-serif; font-weight:400;"> <a href="#">
                                          Home</a> </li>
                                  <li style="font-family: 'Montserrat', sans-serif; font-weight:400;"> <a href="#">
                                          About</a> </li>
                                  <li style="font-family: 'Montserrat', sans-serif; font-weight:400;"> <a href="#">
                                          Contact</a> </li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6 px-4">
                      <h5 style="font-size: 1.2rem; font-family: 'Montserrat', sans-serif; font-weight:bolder;">
                          Created by 1mp0rt_error</h5>
                      <p style="font-size: 0.8rem; font-family: 'Montserrat', sans-serif; font-weight:bolder;">
                          at Hackathon 1.0, DIT University
                      </p>
                      <div class="social">
                          <a href="https://github.com/1mp0rterr0r" style="color: grey; font-size: 26px; background: #3c3c3c00;"><i
                                  class="fab fa-github"></i></a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>