<div class="container my-5">
  <div class="row">
      <div class="col-lg-12">
          <div class="text-center">
              <p class="display-4" style="font-family: 'Staatliches', sans-serif; font-size: 3.2rem; ">Why
                  <span style="color: #0B69D7;"> Helping
                      Hands?
                  </span>
              </p>
          </div>
      </div>
      <!-- heading -->
  </div>
  <div class="row">
      <div class="col-lg-6">
          <div class="jumbotron bg-white">
              <div class="mt-5">
                  <div class="d-flex">
                      <img class="smallscreenalignment" src="https://i.imgur.com/iMn1Xwe.png" alt="1" style="width: 15%; height: 15%;">
                      <p class="text-muted text-justify mt-3" style="font-family: 'Montserrat', sans-serif; font-weight:bolder;">
                          Asia is the
                          continent with the hungriest people – two thirds of the total world.
                      </p>
                  </div>
                  <div class="d-flex">
                      <img class="smallscreenalignment" src="https://i.imgur.com/dyQQTvR.png" alt="1" style="width: 15%; height: 15%;">
                      <p class="text-muted text-justify mt-3" style="font-family: 'Montserrat', sans-serif; font-weight:bolder;">
                          50% of deaths in
                          India for want of medical attention
                      </p>
                  </div>
                  <div class="d-flex">
                      <img class="smallscreenalignment" src="https://i.imgur.com/b9jxL6X.png" alt="1" style="width: 15%; height: 15%;">
                      <p class="text-muted text-justify mt-3" style="font-family: 'Montserrat', sans-serif; font-weight:bolder;">
                          Around 44% people who live on the streets die due to lack of proper clothes in winter

                      </p>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-lg-6">
          <div class="jumbotron jumbotron-fluid bg-white">
              <div class="container">
                  <img class="mx-auto d-block" style="width:70%;" src="https://i.imgur.com/FdVTr6L.jpg" alt="">
              </div>
          </div>
      </div>
  </div>
</div>
