<div class="container my-4">
  <div class="row">
      <div class="col-lg-6">
          <div class="jumbotron bg-white">
              <div class="mt-5">
                  <p class="display-4" style="font-family: 'Staatliches', sans-serif; font-size: 5.5rem; color: #0B69D7;">Helping
                      Hands</p>
                  <p class="text-muted" style="font-family: 'Montserrat', sans-serif; font-weight:bolder;">A
                      modular platform that provides a helping hand
                      for any donor-beneficiaries system.</p>
                  <div class="">
                      <button type="submit" class="btn-hover color-9" style="color:white; background-color:#0B69D7;">
                          Join now! </button>
                  </div> <!-- form-group// -->
              </div>
          </div>
      </div>
      <div  class="col-lg-6">
          <div class="text-center">
              <div class="jumbotron bg-white">
                  <img src="https://i.imgur.com/B6DT2t8.gif" style="width: 100%;" alt="gif">
              </div>
          </div>
      </div>
  </div>
</div>
